/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: white;
    font-family: 'Noto Sans', sans-serif;
}

h1{
    font-size: 50px;
    font-weight:bolder;
    margin: 20px 0;
}

h2{
    font-size: 45px;
    font-weight:bolder;
    margin: 20px 0;
}

p{
    font-size: 20px;
}

/* utility */
.conteiner-center{
    margin: auto;
    width: 70%;
}

.flex-row{
    display: flex;
    flex-direction: row;
}

.flex-column{
    display: flex;
    flex-direction: column;
}

.button{
    background-color: white;
    color: black;
    border: none;
    border-radius: 16px;
    padding: 10px 20px;
}

.button:hover{
    background-color: #f2f2f2c4;
}

/* header */
.conteiner1-header{
    background-color: #3161e0;
    padding: 10px 0;
}
.conteiner-nav{
    flex-basis: 100%;
    justify-content: center;
}

.conteiner-nav div{
    flex-basis: 25%;
    background-color: #3161e0;
    display: flex;
    align-items: center;
    padding: 0 10px;
}

.conteiner-nav nav{
    flex-basis: 50%;
    justify-content:space-between;
    background-color: #3161e0;
    align-items: center;
}

#accedi{
    justify-content: end;
}

.conteiner2-header{
    height: 550px;
    background-color: #3161e0;
    background-image: url(../img/jumbo.png);
    background-size: cover;
    padding: 100px 0;
}

.conteiner2-header p{
    margin: 20px 0;
    color: white;
}

.conteiner2-header>div{
    width: 40%;
    margin: auto;
    font-family: 'Noto Sans', sans-serif;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: white;
}

.conteiner-button a{
    margin: 20px 20px;
    font-size: 18px;
}

#button-browser{
    background-color: #272c30;
    color: white;
}

#button-browser:hover{
    background-color: #f2f2f239;
}



/* main */
.backwhite{
    background-color: white;
    /* height: 400px; */
    padding: 100px 10px;
}

.big-conteiner{
    flex-basis: 60%;
    justify-content: flex-start;
    /* background-color: #3f9bff; */
    /* border: 2px dotted black; */
    /* height: 200px; */
    object-fit: fill;
}

.small-conteiner{
    flex-basis: 40%;
    /* background-color: #ffcdd6; */
    /* border: 2px dotted black; */
    padding: 20px 100px;
    color: #24282b;
}

.small-conteiener h2, p{
    color: #24282b;
}

.wave-down{
    transform: rotate(180deg);
}

.backgrey{
    background-color: #f6f6f6;
    height: 400px;
    padding: 10px;
}

.backgrey2{
    background-color: #f6f6f6;
    height: 800px;
    padding: 10px;
}

#last-image{
    flex-basis: 100%;
    background-color: green;
    border: 2px dotted black;
}

/* footer */
footer{
    background-color: #272c30;
}

.backfooter1{
    background-color: #272c30;
    height: 600px;
    padding: 5px;
}

#logosocial{
    background-color: #f09590;
    flex-basis: 30%;
    border: 2px dotted black;
}

.section-footer{
    flex-basis: calc(70% / 4);
    background-color: #4ab0b5;
    border: 2px dotted white;
}

hr{
    color: white;
}

.backfooter2{
    background-color: #272c30;
    height: 200px;
    padding: 10px;
}

.conteiner-footer{
    flex-basis: 70%;
    background-color: #97f2da;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo{
    background-color: #f4c7cd;
    border: 2px dotted black;
}

#button{
    background-color: #f4c7cd;
    border: 2px dotted black;
}